# operator system files
.DS_Store

# exclude log files
**/*.log
**/log

# exclude ide files
.buildpath
.project
.idea
.vscode

# exclude composer vendor files
vendor

# exclude test files
heat.php
composer\.lock
